// colors
$color-forest: #2C5F2D;
$color-forest-light: rgb(72, 156, 74);
$color-forest-dark: rgb(26, 54, 26);

$color-moss: #97BC62FF;
$color-moss-dark: rgb(53, 65, 37);
$color-moss-light: rgb(186, 231, 124);



// Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

// Base Styling (Global Styling)
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
      font-size: 56.25%;
  }

  @include respond(tab-port) {
      font-size: 50%;
  }

  @include respond(big-desktop) {
      font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-weight: 400;
  background-color: $color-forest;
}
